html {
  overflow: hidden;
}
body {
  margin: 0;
}

pre {
  margin: 0;
  width: min-content;
}

code {
  font-family: Consolas, Monaco, monospace;
  font-size: 12px;
  line-height: 16px;
  width: min-content;
}

button {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}
